

NET "d[3]" IOSTANDARD = LVCMOS18;
NET "d[2]" IOSTANDARD = LVCMOS18;
NET "d[1]" IOSTANDARD = LVCMOS18;
NET "d[0]" IOSTANDARD = LVCMOS18;
NET "q[3]" IOSTANDARD = LVCMOS18;
NET "q[2]" IOSTANDARD = LVCMOS18;
NET "q[1]" IOSTANDARD = LVCMOS18;
NET "q[0]" IOSTANDARD = LVCMOS18;
NET "clk" IOSTANDARD = LVCMOS18;
NET "clr" IOSTANDARD = LVCMOS18;
NET "oe" IOSTANDARD = LVCMOS18;
NET "oe" PULLDOWN;
NET "clr" PULLDOWN;
NET "clk" PULLDOWN;
NET "d[3]" PULLDOWN;
NET "d[2]" PULLDOWN;
NET "d[1]" PULLDOWN;
NET "d[0]" PULLDOWN;


NET "oe" LOC = T3;
NET "clr" LOC = U3;
NET "clk" LOC = R4;
NET "q[3]" LOC = R1;
NET "q[2]" LOC = P2;
NET "q[1]" LOC = P1;
NET "q[0]" LOC = N2;
NET "d[3]" LOC = V3;
NET "d[2]" LOC = V4;
NET "d[1]" LOC = W4;
NET "d[0]" LOC = Y4;
